{% macro render(item, full = false) %}
<div class="meta">
  {%- if item.reprintlink %}
    <span class="item" title="{{ __('post.reprint') }}" style="margin-right: -0.625em">
      <span class="icon">
        <i class="ic i-zhuanzai"></i>
      </span>
      <span class="reprint" style="margin-left: -0.525em">
        <font>{{ __('post.reprint') }}</font>
      </span>
    </span>
  {%- endif %}
  {%- set create_title = __('post.created') + __('symbol.colon') + full_date(item.date) %}
  <span class="item" title="{{ create_title }}">
    <span class="icon">
      <i class="ic i-calendar"></i>
    </span>
    {%- if full %}
    <span class="text">{{ __('post.posted') }}</span>
    {%- endif %}
    <time itemprop="dateCreated datePublished" datetime="{{ moment(item.date).format() }}">{{ date(item.date) }}</time>
  </span>
  {%- if theme.post.count %}
  <span class="item" title="{{ __('symbols_count_time.count') }}">
    <span class="icon">
      <i class="ic i-pen"></i>
    </span>
    {%- if full %}
    <span class="text">{{ __('symbols_count_time.count') }}</span>
    {%- endif %}
    <span>{{ symbolsCount(item) }}</span>
    <span class="text">{{ __('symbols_count_time.word') }}</span>
  </span>
  <span class="item" title="{{ __('symbols_count_time.time') }}">
    <span class="icon">
      <i class="ic i-clock"></i>
    </span>
    {%- if full %}
    <span class="text">{{ __('symbols_count_time.time') }}</span>
    {%- endif %}
    <span>{{ symbolsTime(item, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
  </span>
  {%- endif %}
</div>
{% endmacro %}
